<header class="header-6">
  <div class="branding">
    <a href="/" class="nav-link">
      <clr-icon shape="tablet" class="is-solid"></clr-icon>
      <span class="title">GQL</span>
    </a>
  </div>
  <div class="header-actions">
    <a href="/" class="nav-link nav-icon-text">
      <clr-icon shape="user"></clr-icon>
      <span class="nav-text">{{ username }}</span>
    </a>
  </div>
</header>

<div *ngIf="loading">Loading...</div>

<clr-datagrid (clrDgRefresh)="refresh($event)" *ngIf="!loading">
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Category</clr-dg-column>

  <clr-dg-row *ngFor="let product of products.objectList">
    <clr-dg-cell>{{product.id}}</clr-dg-cell>
    <clr-dg-cell>{{product.name}}</clr-dg-cell>
    <clr-dg-cell>{{product.category}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="products.paginator.count">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} products
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>